.rapi{
	background : rgba(255,255,255,0.7);
	padding-left : 10px;
	border-radius : 10px;
	text-align: justify;
	padding-right : 10px;
	padding-top : 5px;
	padding-bottom : 5px;
}
.besar{
	font-size: 30px;
}

.angular-with-newlines {
    white-space: pre-line;
}

